*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}



.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size:21px;
font-weight:700;
color:#111827;
letter-spacing:1px;
}

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:600;
}

.nav-links a:hover{
color:#2a6df4;
}


.hero{

min-height:100vh;
text-align:center;
padding-top:80px;
color:white;

background:linear-gradient(135deg,#081c45,#0b3c8d);

}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.subtitle{
color:#dcdcdc;
margin-bottom:40px;
font-size:18px;
}


.scan-box{

background:white;
width:600px;
margin:auto;
padding:35px;
border-radius:16px;
box-shadow:0 15px 40px rgba(0,0,0,0.25);

}

.scan-box form{

display:flex;
gap:10px;

}

.scan-box input{

flex:1;
padding:14px;
border-radius:8px;
border:1px solid #ddd;
font-size:15px;

}

.scan-box button{

background:#2a6df4;
color:white;
border:none;
padding:14px 25px;
border-radius:8px;
cursor:pointer;
font-weight:600;

}

.scan-box button:hover{

background:#1d56c4;

}



.scanner{

margin-top:20px;
text-align:center;

}

.scan-bar{

width:100%;
height:4px;
background:linear-gradient(90deg,transparent,#2a6df4,transparent);
animation:scan 1.5s infinite;

}

@keyframes scan{

0%{
transform:translateX(-100%);
}

100%{
transform:translateX(100%);
}

}

.hidden{
display:none;
}

.scanner p{
margin-top:10px;
color:#444;
font-weight:500;
}



.scan-result{

margin-top:20px;
padding-top:15px;
border-top:1px solid #ddd;
text-align:center;
color: #000;

}

.checked-url{

font-size:14px;
color:#555;
margin-bottom:5px;

}

.scan-result h2{

font-size:24px;
margin-bottom:6px;

}

.scan-result p{

color:#444;
font-size:15px;

}

.scan-result ul{

margin-top:10px;
text-align:left;
padding-left:20px;

}

.scan-result li{

margin-bottom:5px;

}



.stats{

display:flex;
justify-content:center;
gap:40px;
margin-top:70px;

}

.stat-card{

background:rgba(255,255,255,0.15);
padding:30px;
width:180px;
border-radius:12px;
text-align:center;
backdrop-filter:blur(6px);
border:1px solid rgba(255,255,255,0.2);

}

.stat-card h2{

font-size:28px;
margin-bottom:6px;

}

.stat-card p{

color:#e5e5e5;

}

