<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>PhishDetector</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="navbar">

<h2 class="logo">PHISHINGDETECTOR</h2>

<nav>
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Usecases</a>
<a href="#">Help</a>
</nav>

</header>


<div class="container">
    <div class="card">

<h1 class="title">Phishing URL Detection</h1>

<p class="desc">Check whether a website link is safe or malicious</p>

<form method="POST">

<div class="input-group">

<input type="text" name="url" placeholder="Enter a URL link in format http or https" required>

<button type="submit">Scan URL</button>

</div>

</form>


{% if result %}

<div class="result-box">

<p class="checked-url">{{ request.form.url }}</p>

<h2 class="result-text">{{ result }}</h2>

{% if risk is not none %}
<p class="risk">Risk Score: {{ risk }}%</p>
{% endif %}

{% if reasons %}
<h3>Reasons:</h3>
<ul>
{% for r in reasons %}
<li>{{ r }}</li>
{% endfor %}
</ul>
{% endif %}


</div>

{% endif %}

</div>
</div>

</body>
</html>
